
/* submission form */

.width500{ 
    width: 100%;
}

.mg-left {

	margin-left: 200px;
}

.border01{
  float: left;
	border: 1px solid black;
	padding: 15px;
	width: 40%;
  height: 54px;
  
}

.border02{ 
  width: 50px;
	margin-left: 15px;
	text-align: center;
	height: 54px;
	border: 1px solid black;
}

.command{
  margin-bottom: 50px;
  width: 40%;
}

.command01{
  border: 1px solid back;
  width: 90%;
}


#residential{
  margin-bottom: 50px;
}

.tpBuilding{
  margin-bottom: 50px;
}

.residential01{
  margin-bottom: 10px;
}

.mg-bottom{
  margin-bottom: 10px;
}

.wd-40{
  width: 15%;
}

#amount{
  float: right;
 }

.mg-00{
  margin: 0;
}

#rates{
  text-align: right;
  width: 50%;
}













.bouton{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 30px;
}

.bouton:hover{
  background-color: darkgray;
}


button{
  background-color: #1490c4;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  margin-top: 1.5em;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
button:hover{
  background-color: #10548a;
}

td{padding: 0.2em 2em 0.2em 0;}

.bold td{
  font-weight: bold;
  padding-top: 0.6em;
}


/* /submission form */
